@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
     font-family: Forum;
     src: url("assets/fonts/Forum.ttf");
   }

   ul, h1, h2, h3, h4, p{
    margin:0;
    padding: 0;    
    }
   
body{
 background-color: #030303;

}
.container{
border:1px solid blue;
width: 1440px;    
margin:0 auto;
padding-left:240px;
padding-right:240px;
}  

section{
border: 1px solid red;
padding-top:75px;
padding-bottom:75px; 
}
.header{ 
border:1px solid greenyellow;
width:1920;
padding-top:74px;
padding-bottom:76px ;
color:white;
}
.header p{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;   
}
.navigation ul {
border:1px solid purple;    
display:flex;
justify-content:center;
align-items:center;
list-style-type: none;
max-width:720px;
color:white;

}
.navigation{
border:1px solid orange;
width: 720px;
}


.header-nav-list a {
text-decoration:none;
font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 50px;
letter-spacing: 2px;
color: #FFFFFF;
padding-left:38px;
padding-right:38px;
}

.header-container{
    border:1px solid yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
}
  
  .logo{
  display:flex;
  align-items: center;

  }
  .logo-image{
  margin-right:20px;
  border:1px solid white;
  }
main{
width:100%;
   
}
  .welcome{
height:750px; 
background-image:url(assets/img/background.jpg);
background-repeat: no-repeat;
background-position:top right;
background-size:1215 750;
overflow: hidden;
background-position: calc(50% + 352px) 100%;
  }

  .text-field{
    border:1px solid white;
    height:390px;
    width:598px;
    margin-bottom:171px;
    margin-top:39px;

  }
  .section-title{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size:80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;    
  }
  .text-field p{
    padding-top:21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 2.4px;
    color: #FFFFFF;
  }
  
  .text-field button{
margin-top:76px;
background-color:#710707;
width: 360px;
height: 75px;
  
border-radius:10px;    
  }
  button > span{
    display:flex;
    align-items:center;
    justify-content:center; 
  }
  button p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;    
  }
   
  