@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
     font-family: Forum;
     src: url("assets/fonts/Forum.ttf");
   }

   ul, h1, h2, h3, h4, p{
    margin:0;
    padding: 0;    
    }
   html{
   scroll-behavior: smooth;  
   }
body{
 background-color: #030303;
 margin:0 auto

}
.container{

width: 1440px;    
margin:0 auto;
padding-left:240px;
padding-right:240px;
}  

section{

padding-top:75px;
padding-bottom:75px; 
}
.header{ 

width:1920;
padding-top:74px;
padding-bottom:76px ;
color:white;
}
.header p{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;   
}
.header-nav-list {
    
display:flex;
justify-content:center;
align-items:center;
list-style-type: none;
max-width:720px;
color:white;

}
.navigation{

width: 720px;
}


.header-nav-list a,
.footer-nav-list a
 {
text-decoration:none;
font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 50px;
letter-spacing: 2px;
color: #FFFFFF;
padding-left:38px;
padding-right:38px;
}

.header-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
}
  
  .logo{
  display:flex;
  align-items: center;

  }
  .logo-image{
  margin-right:20px;
  
  }
main{
width:100%;
scroll-behavior:smooth;   
}
  .welcome{ 
background-image:url(assets/img/background.jpg);
background-repeat: no-repeat;
background-position:top right;
background-size:1215 750;
overflow: hidden;
background-position: calc(50% + 352px) 100%;
  }

  .text-field{
    
    height:390px;
    width:598px;
    margin-bottom:171px;
    margin-top:39px;

  }
  .section-title{
    font-family: Forum;
    font-style: 400;
    font-weight: normal;
    font-size:80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;    
  }
  .text-field p{
    padding-top:21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 2.4px;
    color: #FFFFFF;
  }
  
  .text-field button{
margin-top:76px;
background-color:#710707;
width: 360px;
height: 75px;
border-radius:10px;
text-align:center;
font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;
letter-spacing: 2px;
color: #FFFFFF;    
  }
  button > span{
    display:flex;
    align-items:center;
    justify-content:center; 
  }
  button p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;    
  }
   .section-white{
    background-color:#FFFFFF ;
   }
   .section-title-white{
   color: #9D8665;  
   }
   .underline-title {
    position: relative;
  }
  .underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
  }
  .underline-card {
    position: relative;
  }
  .underline-card::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    height: 3px;
    width:300px;
    background-color: #710707;
    transition: width 1.2s;
  }
  .card:hover .underline-card::after{
  width:440px;
  }
  .card-container{
  margin-top:103px;
  display:flex;
  flex-wrap:wrap;
  gap:77px 60px;
  }
  .card{
  width:440px;
  height:422px;  
  }
  .card h3{
    padding-top:25px;
  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 35px;
letter-spacing: 5px;
color:#000000;
margin-bottom:11px;
  }
  .card-p-major{
 padding-top:10px;   
font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;
color:#000000;
  }
  .card-p-smaller{
font-size:18px;
line-height:21.09px;
padding-top:10px;   
font-family: Roboto;
font-style: normal;
font-weight: 200;
color:#000000;
  }
  .explore-container{
  display:flex;
  gap:60px;  
  }
  .las-meninas{
  padding-top:15px;  
  }
  .picture-explore-text{
  margin-top:75px;
  text-align:left;
  padding-right:50px;  
  }
  .explore-container p{
    padding-top:25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;  
  }
  .explore-container span{
    color:#9D8665
  }
  .video-poster{
    margin-top:15px;
  background-image:url(assets/video/poster.jpg) ;
  width:1440px;
  height:629px;
  display:flex;
  justify-content:center;
  align-items:center;

  }
  .video-description{
  
  width:1440px;
  height:90px;
  margin-top:40px;
  display:flex;
  align-items:flex-end;
  }

  .video-description h2{
  height:90px;
  
  }
  .video-description p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    width:720px;
    padding-left:110px;
    vertical-align: center;
  }
  .controls{
  height:85px;
  width:1440px;  
  display:flex;
  
  background-color:#000000;
  }
  .video-journey button{
  background:transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;  
  }
  .playforward-button img{
  transform:rotate(180deg)  
  }
  .playback-button {
  padding-left:41px;
  padding-right:41.86px;
  }
  
   .playforward-button{
    padding-left:41.65px;
    padding-right:41.85px;
    }
    .play-button{
    padding:0 0 0 0  
    }
  .progress-bar {
  width:820px;
  padding:auto 0
  }
  .volume-button {
  padding-left:41px;
  padding-right:20.94px;

    }
  .volume-bar {
  width:155px;
  padding:0
  }
  .fullscreen-button {
margin-left:48px;
padding-right:42.14px;
  }
  .tickets-container{
    display:flex;
    color: #FFFFFF;
    
    }
    .tickets-container p{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;  
    }
    .tickets-container h3{
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px; 
    }
    .tickets-image{
    padding-top:103px;  
    } 
    .ticket-type{
    height:262px;
    width:270px;
    margin-left:60px;
    margin-top:103px;
    }
    .ticket-type h3{
    padding-bottom:50px;  
    }
    .custom-radio{
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 49px;
    cursor: pointer;  
    }
    
    .custom-radio input {
      position:absolute;
      opacity: 0;
      cursor: pointer;
    }
    .checkmark{
    position:absolute;
    margin-top:5px;
    border:2px solid #FFFFFF;
    top: 0;
    left: 0;
    width:14px;
    height:14px;
    background-color:#030303;
    border-radius:50%  
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .custom-radio input:checked ~ .checkmark:after {
      display: block;
    }
    
    .custom-radio .checkmark:after {
    top: 3.5px;
    right: 3.5px;
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background: white;
     
   }
   
   
   .amount{
  
   width:150px;
   height: 342px;
   margin-left:240px; 
   margin-bottom:208px;
   margin-top:103px;
   display:flex;
flex-direction:column;
 
  }
  .number {
    all: unset;

    text-align: center;
    
  }
  
.btn-container button{
  background:transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;  
}
  .btn-container{
    width:144x;
    height:44px;
    display:flex;
    border:4px solid white;
    margin-bottom:35px;
    justify-content: space-between;
  }
  .number-btn{
    width:45px;
    background-color:#030303;
    color:#FFFFFF;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
letter-spacing: 1.65px;
padding:5px 0;
text-align: center;
vertical-align: center;
  }
  
  .amount p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    padding-bottom:14px;

     
  }
  .amount h3 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
letter-spacing: 1.65px;
padding-bottom:11px;
  }
  .total{
    padding-top:15px;
  }
  .buy{
  margin-top:40px;
  margin-right:60px;
  height:50px;
  width:175px;
  text-align: center;
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
letter-spacing: 2px;
border:none;
padding:0;
position:relative;
right:20px;
border-radius: 1%;
  }
  
    .contacts-container{
    display:flex;  
    }
    .map{
    padding-top:103px;
    padding-left:198px;
    }
    .contacts-info{
    width:281px;
    height:221px;
    font-family:Roboto;
    margin-top:113px;  
    }
    .contacts-info p{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      padding-top:20px;
    }
    .contacts-info h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  padding-bottom:16px;
    }
    footer{
    padding-top:75px;
    padding-bottom:75px;
    width:1920px;
    height:300px;
      
    }
    .footer-container{
    display:flex;  
    }
    .logo-bottom{
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 50px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-bottom:100px;   
    }
    .navigation-bottom{
      width:366px;
     height:150px;
     margin-left:145px;
     width:366px;
     height:150px;
     display:flex;
     justify-content:space-between; 
    }
    
    .social-list{
    display:inline-block;
    display:flex;
    justify-content:space-between;
     
    }
    .social{
      width:336px;
      height:48px;
      padding-bottom:14px;
      margin-left:398px;
      margin-top:88px; }

    .column {
      width:107px;
    }
    .column a {
    padding:0;
    margin:0;
    }
    nav a:hover{ 
    color:#9D8665;
    }
    nav a:active{
    color:#9D8665  
    }
    .text-field button:hover{
    background-color: #9D8665;  
    }
    .buy:hover{
    background-color: #9D8665;   
    }
    a{
      text-decoration: none;
    }