* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: Roboto;
}
.button {
    outline: none;
    background: transparent;
    border: 1px solid blue;
}
.garage-menu {
    width: 350px;
    height: 300px;
}
.garage-menu div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 5px;
}
header {
    box-sizing: content-box;
    margin-bottom: 100px;
}
.page-navigation {
    display: flex;
    width: 210px;
    justify-content: space-between;
}
.page-link {
    width: 100px;
    height: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-link {
    background-color: blue !important;
    color: white !important;
}
.garage-button {
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
}

.button-green {
    background-color: lightgreen;
    color: black;
}
.button-white {
    background-color: white;
    color: black;
}
.activation-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    font-weight: bold;
    border: 2px solid;
}

.start-btn {
    color: green;
    border-color: green;
}

.stop-btn {
    color: red;
    border-color: red;
}

.race-car {
    background-color: blue;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000'%0ApreserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='currentColor' stroke='white'%3E%3Cpath %0Afill='currentColor' d='M1900 3330 c-97 -4 -209 -13 -249 -19 -49 -8 -266 -81 -654 -221%0A-319 -116 -581 -209 -581 -207 -1 1 -8 16 -16 32 l-16 30 -189 0 -190 0 -3%0A-38 c-4 -47 13 -75 73 -118 l45 -32 -35 -63 c-51 -91 -55 -127 -33 -305 10%0A-85 23 -166 29 -181 6 -15 25 -33 42 -41 41 -20 398 -127 421 -127 15 0 17 6%0A10 43 -25 147 23 294 132 397 179 169 444 166 619 -7 70 -68 110 -149 126%0A-254 12 -74 6 -124 -26 -226 l-7 -23 1102 0 c1046 0 1102 1 1095 18 -113 264%0A59 568 347 613 272 42 528 -197 505 -471 -5 -57 -17 -99 -52 -182 -6 -14 -2%0A-18 16 -18 61 0 636 93 657 106 34 22 42 54 49 195 6 127 6 127 -20 151 -14%0A12 -79 51 -145 86 -67 35 -152 89 -191 122 -109 91 -171 136 -227 164 -128 64%0A-652 156 -889 156 -56 0 -77 6 -143 39 -181 90 -676 297 -802 334 -47 14 -116%0A30 -155 36 -99 14 -438 20 -645 11z m605 -141 c76 -14 145 -45 282 -127 l113%0A-66 -43 -21 c-36 -17 -73 -62 -90 -109 -2 -5 -209 -3 -494 4 l-490 13 -57 102%0Ac-31 55 -56 107 -56 113 0 22 29 69 47 78 39 18 700 29 788 13z'/%3E%3Cpath %0Afill='currentColor' d='M911 2530 c-151 -32 -265 -156 -291 -316 -25 -155 65 -326 205 -390%0A286 -131 595 104 535 408 -17 88 -50 147 -114 206 -88 80 -219 116 -335 92z'/%3E%3Cpath %0Afill='currentColor' d='M3924 2530 c-108 -23 -210 -104 -261 -208 -25 -51 -28 -67 -28 -162%0A0 -96 3 -110 29 -161 77 -153 233 -234 398 -208 127 20 231 98 286 217 23 49%0A27 70 27 152 0 86 -3 101 -31 160 -60 126 -174 205 -309 214 -38 3 -89 1 -111%0A-4z'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-size: 140px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: -1px;
    /*mask-image: url(race-car.svg);*/
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000'%0ApreserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='currentColor' stroke='white'%3E%3Cpath %0Afill='currentColor' d='M1900 3330 c-97 -4 -209 -13 -249 -19 -49 -8 -266 -81 -654 -221%0A-319 -116 -581 -209 -581 -207 -1 1 -8 16 -16 32 l-16 30 -189 0 -190 0 -3%0A-38 c-4 -47 13 -75 73 -118 l45 -32 -35 -63 c-51 -91 -55 -127 -33 -305 10%0A-85 23 -166 29 -181 6 -15 25 -33 42 -41 41 -20 398 -127 421 -127 15 0 17 6%0A10 43 -25 147 23 294 132 397 179 169 444 166 619 -7 70 -68 110 -149 126%0A-254 12 -74 6 -124 -26 -226 l-7 -23 1102 0 c1046 0 1102 1 1095 18 -113 264%0A59 568 347 613 272 42 528 -197 505 -471 -5 -57 -17 -99 -52 -182 -6 -14 -2%0A-18 16 -18 61 0 636 93 657 106 34 22 42 54 49 195 6 127 6 127 -20 151 -14%0A12 -79 51 -145 86 -67 35 -152 89 -191 122 -109 91 -171 136 -227 164 -128 64%0A-652 156 -889 156 -56 0 -77 6 -143 39 -181 90 -676 297 -802 334 -47 14 -116%0A30 -155 36 -99 14 -438 20 -645 11z m605 -141 c76 -14 145 -45 282 -127 l113%0A-66 -43 -21 c-36 -17 -73 -62 -90 -109 -2 -5 -209 -3 -494 4 l-490 13 -57 102%0Ac-31 55 -56 107 -56 113 0 22 29 69 47 78 39 18 700 29 788 13z'/%3E%3Cpath %0Afill='currentColor' d='M911 2530 c-151 -32 -265 -156 -291 -316 -25 -155 65 -326 205 -390%0A286 -131 595 104 535 408 -17 88 -50 147 -114 206 -88 80 -219 116 -335 92z'/%3E%3Cpath %0Afill='currentColor' d='M3924 2530 c-108 -23 -210 -104 -261 -208 -25 -51 -28 -67 -28 -162%0A0 -96 3 -110 29 -161 77 -153 233 -234 398 -208 127 20 231 98 286 217 23 49%0A27 70 27 152 0 86 -3 101 -31 160 -60 126 -174 205 -309 214 -38 3 -89 1 -111%0A-4z'/%3E%3C/g%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: bottom;
    height: 50px;
    width: 140px;
    align-self: flex-end;
}
.car-track-bottom {
    width: 100%;
    background-image: url(assets/svg/end-flag.svg);
    background-size: 70px;
    background-position-x: 90%;
    background-position-y: 5%;
    height: 100px;
    border-bottom: 5px dotted white;
    display: flex;
    background-repeat: no-repeat;
}
.car-track-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
}
.activation-btns {
    width: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 30px;
}
input {
    height: 40px;
}
.generate-btn {
    width: 125px;
}
.car-title {
    box-sizing: content-box;
    margin-left: 10px;
}
h1,
h2 {
    width: 100%;
}

.winners-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.winners-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
.winners-table-row {
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    width: 100%;
}
.winners-table-row div,
.winners-table-row p {
    width: 90px;
}
.winner-car {
    background-color: red;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000'%0ApreserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='currentColor' stroke='white'%3E%3Cpath %0Afill='currentColor' d='M1900 3330 c-97 -4 -209 -13 -249 -19 -49 -8 -266 -81 -654 -221%0A-319 -116 -581 -209 -581 -207 -1 1 -8 16 -16 32 l-16 30 -189 0 -190 0 -3%0A-38 c-4 -47 13 -75 73 -118 l45 -32 -35 -63 c-51 -91 -55 -127 -33 -305 10%0A-85 23 -166 29 -181 6 -15 25 -33 42 -41 41 -20 398 -127 421 -127 15 0 17 6%0A10 43 -25 147 23 294 132 397 179 169 444 166 619 -7 70 -68 110 -149 126%0A-254 12 -74 6 -124 -26 -226 l-7 -23 1102 0 c1046 0 1102 1 1095 18 -113 264%0A59 568 347 613 272 42 528 -197 505 -471 -5 -57 -17 -99 -52 -182 -6 -14 -2%0A-18 16 -18 61 0 636 93 657 106 34 22 42 54 49 195 6 127 6 127 -20 151 -14%0A12 -79 51 -145 86 -67 35 -152 89 -191 122 -109 91 -171 136 -227 164 -128 64%0A-652 156 -889 156 -56 0 -77 6 -143 39 -181 90 -676 297 -802 334 -47 14 -116%0A30 -155 36 -99 14 -438 20 -645 11z m605 -141 c76 -14 145 -45 282 -127 l113%0A-66 -43 -21 c-36 -17 -73 -62 -90 -109 -2 -5 -209 -3 -494 4 l-490 13 -57 102%0Ac-31 55 -56 107 -56 113 0 22 29 69 47 78 39 18 700 29 788 13z'/%3E%3Cpath %0Afill='currentColor' d='M911 2530 c-151 -32 -265 -156 -291 -316 -25 -155 65 -326 205 -390%0A286 -131 595 104 535 408 -17 88 -50 147 -114 206 -88 80 -219 116 -335 92z'/%3E%3Cpath %0Afill='currentColor' d='M3924 2530 c-108 -23 -210 -104 -261 -208 -25 -51 -28 -67 -28 -162%0A0 -96 3 -110 29 -161 77 -153 233 -234 398 -208 127 20 231 98 286 217 23 49%0A27 70 27 152 0 86 -3 101 -31 160 -60 126 -174 205 -309 214 -38 3 -89 1 -111%0A-4z'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-size: 40px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: -1px;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000'%0ApreserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='currentColor' stroke='white'%3E%3Cpath %0Afill='currentColor' d='M1900 3330 c-97 -4 -209 -13 -249 -19 -49 -8 -266 -81 -654 -221%0A-319 -116 -581 -209 -581 -207 -1 1 -8 16 -16 32 l-16 30 -189 0 -190 0 -3%0A-38 c-4 -47 13 -75 73 -118 l45 -32 -35 -63 c-51 -91 -55 -127 -33 -305 10%0A-85 23 -166 29 -181 6 -15 25 -33 42 -41 41 -20 398 -127 421 -127 15 0 17 6%0A10 43 -25 147 23 294 132 397 179 169 444 166 619 -7 70 -68 110 -149 126%0A-254 12 -74 6 -124 -26 -226 l-7 -23 1102 0 c1046 0 1102 1 1095 18 -113 264%0A59 568 347 613 272 42 528 -197 505 -471 -5 -57 -17 -99 -52 -182 -6 -14 -2%0A-18 16 -18 61 0 636 93 657 106 34 22 42 54 49 195 6 127 6 127 -20 151 -14%0A12 -79 51 -145 86 -67 35 -152 89 -191 122 -109 91 -171 136 -227 164 -128 64%0A-652 156 -889 156 -56 0 -77 6 -143 39 -181 90 -676 297 -802 334 -47 14 -116%0A30 -155 36 -99 14 -438 20 -645 11z m605 -141 c76 -14 145 -45 282 -127 l113%0A-66 -43 -21 c-36 -17 -73 -62 -90 -109 -2 -5 -209 -3 -494 4 l-490 13 -57 102%0Ac-31 55 -56 107 -56 113 0 22 29 69 47 78 39 18 700 29 788 13z'/%3E%3Cpath %0Afill='currentColor' d='M911 2530 c-151 -32 -265 -156 -291 -316 -25 -155 65 -326 205 -390%0A286 -131 595 104 535 408 -17 88 -50 147 -114 206 -88 80 -219 116 -335 92z'/%3E%3Cpath %0Afill='currentColor' d='M3924 2530 c-108 -23 -210 -104 -261 -208 -25 -51 -28 -67 -28 -162%0A0 -96 3 -110 29 -161 77 -153 233 -234 398 -208 127 20 231 98 286 217 23 49%0A27 70 27 152 0 86 -3 101 -31 160 -60 126 -174 205 -309 214 -38 3 -89 1 -111%0A-4z'/%3E%3C/g%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: bottom;
    height: 50px;
    width: 40px;
}
.winner-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.garage-grid {
    position: relative;
}
.garage-page-controls {
    display: flex;
    justify-content: flex-start;
}

.car-control-active {
    color: lightslategray !important;
    border-color: lightslategray !important;
}
